<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bi.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,259}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{300,259}</string>
				<key>spriteSourceSize</key>
				<string>{300,259}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{300,259}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ca.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,266}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{283,266}</string>
				<key>spriteSourceSize</key>
				<string>{283,266}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,259},{283,266}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>k07.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,82}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{113,82}</string>
				<key>spriteSourceSize</key>
				<string>{113,82}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{283,259},{113,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>k04.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,82}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{113,82}</string>
				<key>spriteSourceSize</key>
				<string>{113,82}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,525},{113,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>k08.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,82}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{113,82}</string>
				<key>spriteSourceSize</key>
				<string>{113,82}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{113,525},{113,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>k02.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,82}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{113,82}</string>
				<key>spriteSourceSize</key>
				<string>{113,82}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{226,525},{113,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>k05.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,82}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{113,82}</string>
				<key>spriteSourceSize</key>
				<string>{113,82}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{339,525},{113,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>k06.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,82}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{113,82}</string>
				<key>spriteSourceSize</key>
				<string>{113,82}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,607},{113,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>k03.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,82}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{113,82}</string>
				<key>spriteSourceSize</key>
				<string>{113,82}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{113,607},{113,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>k01.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,82}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{113,82}</string>
				<key>spriteSourceSize</key>
				<string>{113,82}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{226,607},{113,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>w07.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,117}}</string>
				<key>spriteOffset</key>
				<string>{0,-13}</string>
				<key>spriteSize</key>
				<string>{120,117}</string>
				<key>spriteSourceSize</key>
				<string>{120,117}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{339,607},{120,117}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>w04.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>spriteOffset</key>
				<string>{0,-16}</string>
				<key>spriteSize</key>
				<string>{120,110}</string>
				<key>spriteSourceSize</key>
				<string>{120,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,724},{120,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>w08.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,121}}</string>
				<key>spriteOffset</key>
				<string>{0,-10}</string>
				<key>spriteSize</key>
				<string>{110,121}</string>
				<key>spriteSourceSize</key>
				<string>{110,121}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{120,724},{110,121}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>w02.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,126}}</string>
				<key>spriteOffset</key>
				<string>{0,-8}</string>
				<key>spriteSize</key>
				<string>{110,126}</string>
				<key>spriteSourceSize</key>
				<string>{110,126}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{230,724},{110,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>w05.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,142}</string>
				<key>spriteSourceSize</key>
				<string>{110,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{340,724},{110,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>w06.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,130}}</string>
				<key>spriteOffset</key>
				<string>{0,-6}</string>
				<key>spriteSize</key>
				<string>{110,130}</string>
				<key>spriteSourceSize</key>
				<string>{110,130}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,866},{110,130}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>w03.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,136}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{110,136}</string>
				<key>spriteSourceSize</key>
				<string>{110,136}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{110,866},{110,136}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>w01.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,121}}</string>
				<key>spriteOffset</key>
				<string>{0,-11}</string>
				<key>spriteSize</key>
				<string>{110,121}</string>
				<key>spriteSourceSize</key>
				<string>{110,121}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{220,866},{110,121}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{462,1005}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>sucai.png</string>
				<key>textureFileName</key>
				<string>sucai</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
