<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>time1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2396},{141,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,168}</string>
			</dict>
			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1894},{148,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,168}</string>
			</dict>
			<key>time2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2066},{141,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,168}</string>
			</dict>
			<key>22.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{149,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,168}</string>
			</dict>
			<key>time3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2231},{141,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,168}</string>
			</dict>
			<key>32.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,174},{149,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,168}</string>
			</dict>
			<key>time4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2560},{141,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,168}</string>
			</dict>
			<key>42.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,346},{149,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,168}</string>
			</dict>
			<key>time5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2724},{141,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,168}</string>
			</dict>
			<key>52.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,518},{149,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,168}</string>
			</dict>
			<key>time6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2888},{141,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,168}</string>
			</dict>
			<key>62.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,690},{149,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,168}</string>
			</dict>
			<key>time7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,3052},{141,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,168}</string>
			</dict>
			<key>72.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,862},{149,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,168}</string>
			</dict>
			<key>time8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,3216},{141,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,168}</string>
			</dict>
			<key>82.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1034},{149,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,168}</string>
			</dict>
			<key>time9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,3380},{141,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,168}</string>
			</dict>
			<key>92.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1206},{149,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,168}</string>
			</dict>
			<key>time10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,3544},{141,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,168}</string>
			</dict>
			<key>102.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1378},{149,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,168}</string>
			</dict>
			<key>time11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,3708},{141,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,168}</string>
			</dict>
			<key>112.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1550},{149,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,168}</string>
			</dict>
			<key>time12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,3872},{141,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,168}</string>
			</dict>
			<key>122.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1722},{149,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,168}</string>
			</dict>
			<key>time13.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,2066},{147,149}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,168}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>zb.png</string>
			<key>realTextureFileName</key>
			<string>zb.png</string>
			<key>size</key>
			<string>{296,4034}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>296</integer>
			<key>height</key>
			<integer>4034</integer>
		</dict>
	</dict>
</plist>